
.main-container{
    background-color:  #f2f2f2;
    min-height: 500px;
}
.title-block{
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin-left: 75px
}
.category-block{
    padding: 20px;
    width: 10%;
}
.first-title{
    width: 20%;
}
.first-title > h1{
    color:#A52A2A;
    font-family: '';
    font-weight: normal;
}
 .label-text{
     text-transform: uppercase;
     float: left;
     font-size: 12px;
    color: gray;
    font-weight: 500;
 }
 .c-title{
    color: gray;
 }
 .gift-for{
     margin-top: 20px;
     width: 18%;
     border-left: 1px solid #cecdcd;
     border-right: 1px solid #cecdcd;
     padding-left: 20px;
 }
 .gender-block {
    float:left; 
    width: 18%;
 }
 .gender-block p {
    margin: 0;
    cursor: pointer;
    font-size: 12px;
 }
 .gender-block > img {
    width: 50%;
    cursor: pointer;
 }
 .set-price{
     width: 20%;
     margin-top: 20px;
     display: flex;
     flex-direction: column;
     padding-left: 20px;
 }
 .set-price > .label-text{
    /* margin-bottom: 5px; */
    margin-right: auto;
 }
 .set-price span{
     padding-right: 37px;
     font-size: 12px;
 }
 .price-list{
     margin-right: auto;
 }
 .image-active{
     background-color: red;
 }
 .text-red{
     color: red;
 }
 select{
    border-color: transparent;
    background-color: #f2f2f2;
    width: 100%;
 }
/* img-container */
.main-img-container{
    position: relative;
}
.img-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    margin: 20px 5px 20px 120px;
}
.img-item{
    background-color: white;
    padding: 20px 10px;
    position: relative;
    margin: 3px;
    cursor: pointer;
    width: 190px;
    box-sizing: border-box;
}

.img-item img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: 50%;
}
.img-item p{
    position: absolute;
}
.img-item> p:nth-child(2){
    bottom: 10px;
}
.img-item> p:nth-child(3){
    bottom: -10px;
}
  
.hovered {
    visibility: visible;
    opacity: 1;
} 
  
.titlebox{
    top: 220px;
    left: -45px;
	color:#fff;
}
.titlebox span{
    text-transform: capitalize;
}
.title-arrow{
    width: 10% !important;
    display: block;
    float: right;
}
.arrow-div1{
    width: 2%;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 45%;
    background-color: #dcdbdb;
    height: 45px;
}
.arrow-div2{
    width: 2%;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 45%;
    background-color: #dcdbdb;
    height: 45px;
}
.arrow-div1 > img, .arrow-div2 > img{
    width: 100%;
    background-color: #e0e0e0;
}
.fa-2x {
    padding: 5px 2px 0px 2px;
}
.isDisabled{
    cursor: no-drop;
}
.text-left {
    text-align: left;
    position: relative;
    font-size: 12px;
}
.cust-name{
    top: -3px;
    left: 10px;
}
.cust-price1{
    top: 0px;
    left: -110px;
}
.cust-price2{
    top: 4px;
    left: 10px;
    font-weight: bold;
}
.cust-name2{
    top: 7px;
    left: 10px;
    color: green;
    font-weight: bold;
}

.img-card { 
    min-width: 270px;
    min-height: 230px;
    border: 3px solid black;
    border-bottom-width: 40px;
    position: absolute;
    opacity: 1;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    z-index: 9999;
    background-color: white;
}
.img-container-empty{
    margin-top: 140px;
    color: red;
}
input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0px 5px 0px;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: #50555C;
  }
  input[type=range]::-webkit-slider-thumb {
    height: 7px;
    width: 7px;
    background: red;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
  }
@media only screen and (max-width: 476px){
    .main-container{
        width: 480px;
        height: 750px;
    }
    .title-block{
        flex-direction: column;
        margin-left: 10px;
    }
    .category-block{
        width: 50%;
    }
    .first-title{
        width: 100%;
    }
    .gift-for{
         width: 70%;
         border-left: 0px solid #cecdcd;
         border-right: 0px solid #cecdcd;
     }
    .set-price{
         width: 60%;
     }
    .img-container{
        margin: 20px 16px 20px 35px;
    }
    .img-item{
        width: 95px;
    }
    .arrow-div1, .arrow-div2{
        width: 5%;
    }
    .img-card { 
        min-width: 135px;
        min-height: 135px;
        border-bottom-width: 25px;
    }
    .cust-price1 {
        top: -8px;
        left: -43px;
    }
    .cust-price2{
        top: -7px;
    }
    .cust-name2{
        top: -6px;
    }
    .titlebox {
        top: 128px;
        left: 0px;
        font-size: 10px;
    }
}